.collections{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.right_section h1, p{
    margin: 0;
}

.right_section__up{
    flex-shrink: 0;
}

.right_section{
    margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-right: 2vw;
}

.collection_date{
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    color: var(--main-color);
}

.collect__login{
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    color: var(--main-color);
}

.block__search_speacialist{
    height: 36vh;
    background-image: url("../../static/imgs/collection_block_search.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    border-radius: 29px;
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;
}

.block__search_specialist__title{
    color: white;
    width: 45%;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 2rem);
}

.block__search_specialist__text{
    color: white;
    width: 45%;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-size: clamp(0.3rem, 3vw, 1rem);
}

.block__search_speacialist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.block__search_speacialist__submit{
    width: 35%;
    height: 25%;
    border-radius: 7px;
    border: none;
    background-color: white;
    color: black;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    font-size: clamp(0.1rem, 1.5vw, 1rem);
    transition: background-color 0.3s;
}

.block__search_speacialist__submit:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    transition: background-color 0.3s;
}
.block__search_speacialist__submit:hover img{
    content: url("../../static/imgs/arrow_hover.svg");
}

.block__search_speacialist__submit img{
    object-fit: cover;
}

.block__category_speactialist{
    height: 100%;
    background-color: #DEE2FF;
    margin-bottom: 2vh;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
}

.block__category_speactialist{
    padding-left: 1vw;
}

.block__category_speactialist__title{
    color: #2B438D;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: clamp(0.2rem, 3vw, 1.5rem);
}

.block__category_speactialist__block{
    background-color: #94ADFF;
    background-image: url("../../static/imgs/Hands.svg");
    width: 100%;
    border-radius: 29px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.block__category_speactialist__all_blocks{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    margin-right: 1vw;

}

.block__category_inside{
    height: 100%;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.block__category__card_info{
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

.category_speactialist__title{
    color: #2B438D;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: clamp(0.2rem, 3vw, 1.5rem);
}

.block__category__card_info__main{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.category_speactialist__amount{
    color: #2B438D;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: clamp(0.2rem, 3vw, 0.8rem);
}













