#profile-page{
    align-items: normal;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
}

#h3__color_blue{
    color: #2B438D;
    font-size: 1.5vw;
    flex-shrink: 0;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    margin: 0;
}

.AboutMe{
    background-color: #DEE2FF;
    height: 70%;
    border-radius: 15px;
    width: 100%
}

.Avatar_profile{
    height: 22vh;
    aspect-ratio: 1 / 1;
    border-radius: 1vw;
}

.up_profile_block{
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}
.up-sections{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1.5vh;
}

.TitleRole{
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    color: #2B438D;
    font-size: clamp(0.1rem, 2vw, 2rem);
}

.About-me-label{
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    color: #2B438D;
}

.About-me-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #2B438D;
    font-family: Montserrat,sans-serif;
}

.about-me-block{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: clamp(1rem, 2vh, 2rem);
}

.AboutMe__info{
    margin: 1vw;
}

.hr-profile-vertical{
    background-color: #2B438D;
    height: 2px;
}

.Abilities{
    background-color: #DEE2FF;
    height: 100%;
    border-radius: 15px;
    align-items: center;
    display: flex;
    padding: 1vw;
    gap: 1.5vw;
}

.Abilities-shablon{
    color: #2B438D;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2vh, 2rem);
}

.horizont-hr{
    background-color: #2B438D;
    height: 100%;
    width: 2px;
    margin: 0;
}

.Abilities-tags{
    color: #2B438D;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 2vh, 2rem);
}

.profile-sections{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 100%
}

.down-section{
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    flex: 1;
    width: 100%;
    margin-bottom: 1.5vh;
}

.profile-down-left-section{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    height: 100%;
    width: 45%
}

.UrEducation{
    padding: 1vw;
    background-color: #DEE2FF;
    height: 60%;
    border-radius: 15px;

}
.UrContacts{
    padding: 1vw;
    background-color: #DEE2FF;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.profile_master{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile-down-right-section{
    height: 100%;
    flex: 1;
}

.UrServices{
    padding: 1vw;
    height: 100%;
    width: 100%;
    background-color: #DEE2FF;
    border-radius: 15px;
}

.ItsEnough{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80%;
    color: #2B438D;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 2vh, 3rem);
}