
.menu {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    height: 10vh;
    width: 100vw;
    align-items: center;
    background-color: #DEE2FF;
    position: relative;
}

.menu__sections{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5vw;
    width: 100%;
}

.logo{
    height: 75%;
    width: auto;
    margin-left: 2vw;
}

.section__btn{
    height: 8vh;
    border-radius: 7px;
    border: none;
    color: #A19CCC;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: clamp(0.2rem, 3vw, 1.5rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    transition:  color 0.3s;
    background-color: transparent;
}

.section__btn:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--main-color);
}

#toMasters_collection__btn:hover img{
    content: url("../../static/imgs/collections_btn_hover.svg");
}

#toMasters_search__btn:hover img{
    content: url("../../static/imgs/seatch_btn_hover.svg");
}

#toCalendar__btn:hover img{
    content: url("../../static/imgs/calendar_btn_hover.svg");
}

#toMasters_search__btn:hover{
    cursor: not-allowed;
    color: #898989;
}
#toCalendar__btn:hover{
    cursor: not-allowed;
    color: #898989;
}


#toProfile__btn img{
    position: absolute;
    right: 1vw;
    height: 40%;
    opacity: 1;
    transition:  opacity 0.3s;

}

#toProfile__btn img:hover{
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s;
}







